h2{
    text-align: center;
    font-weight: 300;
}
.loan-form{
    height: 100%;
    padding: 0 5%;
    overflow-y: auto;
    position: relative;
    text-align: center;
}
.radio-label>h5{ 
    font-size: 12px;
    font-weight: 200;
    margin: 0;
    padding: 0;
}
.payment-schedule{
    text-align: left;
}